# Forza VB.NET come linguaggio principale
*.vb linguist-language=Visual Basic
*.Designer.vb linguist-language=Visual Basic
*.vbproj linguist-language=Visual Basic

# Esclude CSS, HTML e Markdown dalla classificazione
*.css linguist-detectable=false
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.xml linguist-detectable=false
*.md linguist-detectable=false
